<h1>Movie Card UI Design</h1>
<div class="card">
    <div class="left-card">
        <img src="../../assets/Iron_Man.webp" alt="img">
    </div>
    <div class="right-card">
        <h1>Iron man : Vol. 1</h1>
        <div class="right-card-details">
            <ul class="information">
                <li>2008</li>
                <li>145 Min</li>
                <li>Action</li>
            </ul>
            <div class="right-card-review">
                <p>After being held captive in an Afghan cave, billionaire engineer Tony Stark creates a unique
                    weaponized suit of armor to fight evil.
                </p>
                <a href="#">Read More</a>
            </div>
            <div class="right-card-button">
                <a href="#">Watch Trailer</a>
            </div>
        </div>
    </div>

</div>